/* Home Page Styles */
.home-container {
    text-align: center;
    padding: 20px;
    font-family: 'Poppins', sans-serif;
    background-color: #eeffff; /* Light gray background */
    min-height: 100vh;
  }
  
  .home-container h1 {
    color: #2563eb;
    margin-bottom: 20px;
  }
  
  .home-container p {
    color: #333;
    margin-bottom: 20px;
  }
  
  .button-container {
    display: flex;
    justify-content: center;
    gap: 20px;
  }
  
  .login-button, .signup-button {
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    transition: background-color 0.3s ease;
  }
  
  .login-button {
    background-color: #2563eb;
    color: white;
  }
  
  .login-button:hover {
    background-color: #1d4ed8;
  }
  
  .signup-button {
    background-color: #22c55e;
    color: white;
  }
  
  .signup-button:hover {
    background-color: #16a34a;
  }
  